@import 'variables';

.simple_form {
  align-content: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 80%;
  color: $light-blue;

  .input{
    gap: 4px;

    label{
      text-align: left;
    }
  }

  #expense_category{
    background-color: $background;
    border-radius: 0.5em;
    border-color: $background;
    color: $light-blue;
    height: 3rem;
    width: 100%;
    font-size: 1.5rem;
    padding-left: 1rem;
  }

  input{
    width: 100%;
    background-color: $background;
    border-color: $background;
    border-radius: 0.5em;
  }

  #expense_name, #expense_amount{
    height: 3rem;
    color: $light-blue;
    font-size: 1.5rem;
    padding-left: 1rem;
  }

  .btn{
    padding: 1rem 1.5rem;
    color: $background;
    background-color: $light-green;
    font-size: 2rem;
    transition: ease-in-out 0.2s;
  }

  .btn:hover{
    background-color: $blue;
  }
}

@media (min-width: $mobile-breakpoint) {
  .simple_form.expense {
    width: 60%;
  }
}
