@import 'variables';

.simple_form.expense, .simple_form.edit-expense {
  align-content: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 80%;
  color: $light-blue;

  .input.string.required, .input.select.required{
    gap: 4px;
  }

  #expense_category{
    background-color: $light-blue;
    border-radius: 0.5em;
    border-color: $light-blue;
  }

  input{
    width: 100%;
    //height: 28px;
    background-color: $light-blue;
    border-color: $light-blue;
    border-radius: 0.5em;
  }
  #expense_name, #expense_amount{
    height: 28px;
  }

  .btn{
    padding: 8PX;
    color: $blue;
    background-color: $light-blue;
  }
}

@media (min-width: $mobile-breakpoint) {
  .simple_form.expense {
    width: 60%;
  }
}
