@import 'variables';

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 200;
  text-align: center;
  gap: 20px;
}

.section{
  background-color: rgba($dark-blue, 1);
  border-radius: 1rem;
  color: $light-blue;
  padding: 1rem;
  margin: auto;
  width: 90vw;
}

table{
  border-spacing: 0em;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;

  tr {
    border-top: dashed 2px;
  }

  th{
    text-align: left;
  }

  td, th {
    padding: 1rem;
    font-size: 1rem;
  }

  .table-btn {
    display: flex;
    justify-content: space-around;
    gap: 8px;
    padding-right: 0rem;

    button{
      background: (rgba($dark-blue, 1) );
      border: none;
    }

    .fa-solid{
      font-size: 2rem;
      color: $light-blue;
    }
  }
}


@media (min-width: $mobile-breakpoint){
  table{
     td, th {
      font-size: 18px;
    }
  }

}
