@import 'variables';

.body-wrapper{
  margin-bottom: 10rem;
  min-height: calc(100vh - 7rem)
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 200;
  text-align: center;
  gap: 2rem;
}

h1{
  text-shadow: 4px 3px $background;
}

.title{
  font-size: 3rem;
  text-align: left;
  width: 100%;
}

.section{
  background-color: rgba($dark-blue, 1);
  border-radius: 1rem;
  color: $light-blue;
  padding: 1rem;
  margin: auto;
  width: 90vw;
  outline: 1px solid $blue;
  border: 1px solid $blue;
  flex-wrap: wrap;
}

.section_w_img{
  flex-direction: row;
  justify-content: center;
  gap: 0rem;

  img{
    height: 10rem;
  }

  img.wallet{
    height: 17rem;
  }
}

#total-amount{
  text-align: center;
}


@media (min-width: $mobile-breakpoint){
  .section{
    width: 60vw;
    padding: 3rem;
  }

  .section_w_img{
    gap: 3rem;

    .title{
      width: fit-content;
      text-align: center;
      width: 60%;
    }
  }


}
