@import 'variables';

.navbar{
  background-color: $blue;
  display: flex;
  padding: 16px;
  flex-direction: column;
  margin-bottom: 2rem;
  height: 7rem;

  nav{
    width: 100%;
    position: sticky;
    background-color: $blue;
    margin-bottom: 1rem;
    top: 0px;
  }
  .navbar-items.navbar-items-right{
    display: none;
    justify-content: flex-start;
    flex-direction: column;
    gap: 3rem;
    width: calc(100% + 2rem);

    .bmc-btn{
      transition: ease-in-out 0.2s;

      .bmc-btn-text{
        font-family: "Quicksand", sans-serif;
      }
    }


    .bmc-btn:hover, .bmc-btn:active, .bmc-btn:focus{
      background-color: $blue;
    }
  }

  .navbar-items {
    display:flex;
    justify-content: space-between;

    #navbar-link-toggle {
      cursor: pointer;
    }
  }
}

@media (min-width: $mobile-breakpoint){
  .navbar{
    flex-direction: row;

    .navbar-items.navbar-items-right{
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
    }

    #navbar-link-toggle{
      display: none;
    }
  }
}
