@import 'variables';

.navbar{
  background-color: $blue;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 4rem;
  border-bottom: $light-blue 1px solid;

  nav{
    width: 100%;
    position: sticky;
    background-color: $blue;
    top: 0px;
  }
  .navbar-items.navbar-items-right{
    display: none;
    justify-content: flex-start;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    align-items: flex-start;

    .btn{
      background-color: $orange;
      border: 1px solid $white;
      color: $white;
      font-size: 18px;
      font-family: "Quicksand", sans-serif;
      font-weight: 700;
      padding: 1rem 2rem 1rem 2rem;
      height: 60px;
      border-radius: 12px;
      transition: ease-in-out 0.2s;
    }
    .btn.btn-dark{
      background-color: rgba(0,0,0,0.5);
    }

    .btn:hover{
      background-color: $light-green;
      color: $white;
      border: $light-green 2px solid;
    }

    .bmc-btn{
      border: 1px solid $dark-blue;
      font-size: 18px;
      width: 100%;
      transition: ease-in-out 0.2s;

      .bmc-btn-text{
        font-family: "Quicksand", sans-serif;
        margin: 0px 8px 0px 0px;
      }
    }

    .bmc-btn:hover, .bmc-btn:active, .bmc-btn:focus {
      text-decoration: none;
      cursor: pointer;
      background-color: $light-green !important;
      color: $white;
      border: $blue;
    }
  }

  .navbar-items {
    display:flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;

    .nav-brand{
      text-decoration: none;

      .fa-solid {
        font-weight: 900;
        font-size: 60px;
        color: $background;
        transition: ease-in-out 0.2s;
      }

      .fa-solid:hover{
        color: $light-green;
      }
    }

    #navbar-link-toggle {
      cursor: pointer;

      .fa-bars{
        font-size: 60px;
        color: $background;
        transition: ease-in-out 0.2s;
      }

      .fa-bars:hover{
        color: $light-green;
      }
    }
  }


  #collapse.navbar-items.navbar-items-right {
    width: calc(100% + 3rem);
    height: fit-content;
    border-top: $light-blue 1px solid;
    padding-left: 4rem;
    padding-top: 1rem;
    row-gap: 2rem;
  }
}

@media (min-width: $mobile-breakpoint){
  .navbar{
    flex-direction: row;

    #collapse.navbar-items.navbar-items-right{
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      border-top: none;
    }

    .nav-link{
      flex-direction: row;
    }

    #navbar-link-toggle{
      display: none;
    }
  }
}
