$main-max-width-narrow: 960px;
$main-max-width: none;
$mobile-breakpoint: 992px;
$laptop-breakpoint: 1320px;


// color scheme
$background: #1B262C;
$light-blue: #BBE1FA;
$blue: #3282B8;
$dark-blue: #0F4C75;
